* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.507);
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: century;
    font-size: 1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 8px 25px;
    border-radius: 20px;

    transition: all .5s ease;
}

.navbar ul li a:hover {
    border-radius: 20px;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
    /* transition: all .5s ease; */

}

#home {
    display: flex;
    flex-direction: column;
    /* height: 780px; */
    
    height: 591px;

    justify-content: center;
    text-align: center;
    color: white;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('background.jpg') no-repeat center center/cover;
    height: 650px;
    width: 100%;
z-index:-1;
    opacity: .9;
}

.main {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    /* width: 50%; */
    align-items: center;
    text-align: left;
    position: absolute;
    top: 25%;
    right: 70%;
    /* justify-content: space-between; */

}

.main h1{
    
    margin-right: 73px;

}
.main p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: row;
    text-align: left;
    font-size: 0.8rem;
    /* font-weight: 1px;; */
    width: 500px;
    font-style:normal ;
    /* top: 25%; */
    margin: 10px 20px 0 70%;
}

#btns {
    display: flex;
    justify-content: space-evenly;
    /* flex-direction: column; */
    width: 290px;
    /* margin-top: 250px;
    margin-bottom: 320px;
    margin-left: 160px; */
margin:100px 0 100px 150px ;

}

.btn {
    border: 1px solid white;

    backdrop-filter: blur(10px);
    background-color: transparent;
    color: white;
    padding: 5px 45px 5px 45px;
    border-radius: 20px;


}

.btn:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
    border: none;
    transition: all .5s ease;

    /* padding: 5px 45px 5px 45px;
        border-radius: 20px;
     */

}

/* .header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding: 35%, 12%;
    background: rgba(0, 0, 0, 0.808);   
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    justify-items: center;
    z-index: 100;
} */
.logo {
    border-color: none;
}


/* section*/

 #about {
    display: flex;
  
    height: 800px;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
     margin: 0 0  350px;
}

 .head h1{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
   margin: 100px 500px 0 0;
 

}
.main2{
margin: 100px 0 0 550px;
text-align: left;

}
 .main2 p{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
   margin: 10px 250px 0 0;
 }
 img{
margin-top: 250px;
    width: 370px;
border-radius: 10px;
 }